.gitattributes
*.class
*.log
*/System
*/Users
/Binaries
/Binaries/*
/Source/sources.txt
/Source/*.bat
Driver/*
Releases/Mosaic-Releases/
Source/DebugLauncher.java
Documentation/Developer_Documentation/Developer Documentation.docx
